<!DOCTYPE html>
<html>

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}

        ￼￼
        ￼ <link rel='stylesheet' type='text/css' href='{{ asset("bundles/back/css/theme.css") }}'>
        ￼ <link rel='stylesheet' type='text/css' href='{{ asset("bundles/back/css/admin-forms.css") }}'>
        ￼￼￼￼￼￼
        <!-- Font CSS (Via CDN) -->
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>


    {% endblock %}

</head>

<body class="external-page external-alt sb-l-c sb-r-c">

<!-- Start: Main -->
<div id="main" class="animated fadeIn">

    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">

        <!-- Begin: Content -->
        <section id="content">

            <div class="admin-form theme-info mw500" id="login">

                <!-- Login Logo -->
                <div class="row table-layout">
                    <a href="dashboard.html" title="Return to Dashboard">
                        <img src="assets/img/logos/logo.png" title="AdminDesigns Logo" class="center-block img-responsive" style="max-width: 275px;">
                    </a>
                </div>

                <!-- Login Panel/Form -->
                <div class="panel mt30 mb25">

                  {% block content %}

                  {% endblock %}
                </div>

                <!-- Registration Links -->
                <div class="login-links">
                    <p>
                        <a href="pages_forgotpw(alt).html" class="active" title="Sign In">Forgot Password?</a>
                    </p>
                    <p>Haven't yet Registered?
                        <a href="pages_register(alt).html" title="Sign In">Sign up here</a>
                    </p>
                </div>

                <!-- Registration Links(alt) -->
                <div class="login-links hidden">
                    <a href="pages_login-alt.html" class="active" title="Sign In">Sign In</a> |
                    <a href="pages_register-alt.html" class="" title="Register">Register</a>
                </div>

            </div>

        </section>
        <!-- End: Content -->

    </section>
    <!-- End: Content-Wrapper -->

</div>
<!-- End: Main -->


<!-- BEGIN: PAGE SCRIPTS -->
{% block javascripts %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <!-- Theme Javascript -->
    <script src="{{ asset("bundles/back/js/utility/utility.js") }}"></script>
    <script src="{{ asset("bundles/back/js/demo/demo.js") }}"></script>
    <script src="{{ asset("bundles/back/js/main.js") }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {

            "use strict";

            // Init Theme Core
            Core.init();


        });
    </script>
    <!-- END: PAGE SCRIPTS -->
{% endblock %}


<!-- END: PAGE SCRIPTS -->

</body>

</html>
